.type-3181 {
    #num1 {
        .image {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

        }

        img {
            width: 100%;
        }
    }

    .col-md-4 {

        h2 {
            color: #262626;
            size: 39px;
            font-weight: 700;
            line-height: 1.05em;
            letter-spacing: -.195px;
            font-family: "Roboto Condensed", sans-serif;
            text-transform: uppercase;
        }

        .price {
            font-size: 16px;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            line-height: 1.3em;
        }

        .danhgia {
            color: #ddd;

            .checked {
                color: #000;
            }
        }

        .content {
            color: #262626;
            font-family: Raleway, sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
    }

    .product {

        .sku,
        .cate,
        .tag,
        .share {
            display: flex;
            margin: 11px 0;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #000;
            gap: .5rem;

            ul {
                display: flex;
                list-style: none;
                gap: 1em;
                color: #464646;
            }
        }

        .sku-text,
        .cate-text,
        .tag-text {
            display: flex;
            font-weight: normal;
            color: #464646;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 400;
            font-size: 16px;
        }
    }

    .tocart {
        display: flex;

        .quan {
            display: flex;
            align-items: center;
            border: 1px solid #000;
            padding: 10px 20px;
            background-color: #f5f5f5;
            width: 100px;
            height: 52px;
            justify-content: space-between;
        }

        .number {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            font-size: 20px;
            margin-right: 18px;
            height: 52px;
            display: flex;
            align-items: center;
        }

        .icon-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #000;
            height: 52px;
            justify-content: space-between;
            width: 32px;
            margin-left: 20px;
            margin-right: 0;

            div {
                border-bottom: 1px solid #000;
                width: 32px;
            }
        }

        .icon-button i {
            background-color: #000;
            padding: 5px;
            cursor: pointer;
            color: #fff;
            width: 100%;
            text-align: center;
        }
        .addtocart {

            font-family: "Roboto Condensed", sans-serif;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: auto;
            outline: 0;
            font-size: 16px;
            line-height: 2em;
            letter-spacing: -.4px;
            font-weight: 600;
            padding: 9px 57px;
            color: #fff;
            background-color: #000;
            border: 1px solid transparent;
            cursor: pointer;
            z-index: 3;
            margin-left: 50px;
            
        }
        .addtocart:hover {
            font-family: "Roboto Condensed", sans-serif;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: auto;
            outline: 0;
            font-size: 16px;
            line-height: 2em;
            letter-spacing: -.4px;
            font-weight: 600;
            padding: 9px 57px;
            color: #000;
            background-color: #fff;
            border: 1px solid #000;
            cursor: pointer;
            z-index: 3;
        }
    }
    .heart{
        margin-top: 20px;
       a{
        color: #000;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
       }
       span{
        margin-right: 14px;
       }
       a:hover{
        color: #393838;
       }
    }

    .des-view {
        .des {
            color: #262626;
        }

        .view {
            color: #838383;
            
        }

        .des,
        .view {
            display: inline-block;
            margin-right: 20px;
            font-weight: bold;
            font-family: "Roboto Condensed", sans-serif;
            text-transform: uppercase;
            padding-top: 6px;
            
            font-size: 16px;
            font-weight: 700;
        }
        hr{
           width: 300px;
           margin-bottom: 0;
        }
        p{
           color: #262626;
           padding-top: 10px;
        }
        .custom-line {
            border-bottom: 2px solid #000; 
            width: 150px;
            margin-top:0; 
        }
    }


}